.body {
	overflow-x: hidden;
	transition: background-color 0.3s linear;
	line-height: 1.5;

	&--disabled {
		overflow-y: hidden;
		background-color: rgba(0, 0, 0, 0.8);
	}
}

html {
	font-size: 14px;
}

@media (min-width: $vp__tablet) {
	html {
		font-size: 15px;
	}
}

@media (min-width: $vp__desktop) {
	html {
		font-size: 16px;
	}
}
