.body {
	overflow-x: hidden;
	transition: background-color 0.3s linear;
	line-height: 1.5;

	&--disabled {
		overflow-y: hidden;
		background-color: rgba(0, 0, 0, 0.8);
	}
}

//change root font size
// html {
// 	font-size: 15px;
// }
