.intro {
  &__half {
    padding: $padding__half;

    &--dark {
      color: $color__white;
      background-color: $color__primary;
    }

    &--light {
      //border: $dimen__top-border solid $color__white;
      min-height: 50vh;
      // padding: 0;
      // border: 3rem solid $color__white;
      // color: $color__black;
      // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      //   url('../../images/misc/intro-image.jpg');
      // background-position: bottom center;
      // background-attachment: fixed;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: $ls__main;
  }

  &__paragraph {
    opacity: 0.8;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__button {
    @include flexCenterContent();
    padding: 0.75rem 1.75rem;
    transition: transform 0.3s linear;
    width: auto;
    gap: 1rem;
    text-decoration: none;
    color: $color__white;
    height: 50px;

    &:hover {
      transform: scale(1.05) !important;
    }

    &--learn {
      color: $color__white;
      background-color: $color__attention;
    }

    &--github {
      border: 1px solid $color__white;
    }
  }

  &__github-icon {
    width: 2.25rem;
  }

  &__button-text {
    text-align: center;
    color: inherit;
    letter-spacing: $ls__main;
  }
}

@media (min-width: $vp__phone--large) {
  .intro {
    &__buttons {
      flex-direction: row;
    }

    &__button {
      height: auto;
    }
  }
}

@media (min-width: $vp__tablet) {
  .intro {
    &__half {
      display: flex;
    }
  }
}

@media (min-width: $vp__desktop) {
  .intro {
    min-height: 100vh;
    display: flex;

    &__half {
      flex: 1;
    }
  }
}
